doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Play Surakarta
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU=" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/game_play.css')
    link(rel='stylesheet' href='/stylesheets/pace-flash.css')
    link(rel='stylesheet' href='/flag/css/flag-icon.min.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js', integrity='sha256-Thm9kMI2BQKxVnCWipQIGeb8QVl2lohO+WWWfCiF8b0=', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js" integrity="sha256-AoNQZpaRmemSTxMy9xcqXX5VLwI6IMPYugO7bFHOW+U=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha256-C8oQVJ33cKtnkARnmeWp6SDChkU+u7KvsNMFUzkkUzk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.min.js" integrity="sha256-qZnxjtwxg51juOcYyANvBWwFoahMFNB2GSkGI5LGmW0=" crossorigin="anonymous")
    script(src='/javascripts/pace.min.js')
    script(src='/javascripts/game_canvas.js')
  body
    #alert.alert.alert-danger.fade(role='alert')
      strong#strongMsg
      span#detailMsg
    .container
      .row.mt-5
        .col
          #opponent.d-flex.flex-column.h-100.pt-5
            .h3.w-100.text-right
              span.opponent.username
              span.opponent.flag-icon.ml-2
            .opponent.moving-badge.h4.w-100.text-right.d-none
              span.badge.badge-primary.font-weight-normal Moving
            .opponent.waiting-badge.h4.w-100.text-right.d-none
              span.badge.badge-secondary.font-weight-normal Waiting
        .col.col-auto
          canvas#gameCanvas()
        .col
          #own.d-flex.flex-column-reverse.h-100.pb-5
            .info.h3.w-100.text-left
              span.own.flag-icon.mr-2
              span.own.username
            .own.moving-badge.h4.w-100.text-left.d-none
              span.badge.badge-primary.font-weight-normal Moving
            .own.waiting-badge.h4.w-100.text-left.d-none
              span.badge.badge-secondary.font-weight-normal Waiting
            button#surrenderBtn.btn.btn-outline-danger.mb-4.d-none Surrender
