extends layout

block content
  h1= title
  p Welcome, #{username}!
  p More features are coming soooooon.
  p
    a(href='/g/hall') Click here to play game!
  p
    a(type='button' href='/u/signout') Sign Out