doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Verification Needed - Surakarta
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU=" crossorigin="anonymous")
    link(rel='stylesheet' href='/css/user/signup.css')
    link(rel='stylesheet' href='/css/pace-flash.css')
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha256-C8oQVJ33cKtnkARnmeWp6SDChkU+u7KvsNMFUzkkUzk=" crossorigin="anonymous")
    script(src='/js/pace.min.js')
    script.
      function onSubmit () {
        document.getElementById("recaptchaForm").submit()
      }
  body
    .user-body
      h1 Hi, newcomer!
      form#recaptchaForm(method="post")
        .lead You are just one click away from enjoying Surakarta! :-)
        #recaptcha.g-recaptcha.mt-3(data-sitekey=reCaptchaKey data-callback="onSubmit")
