body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-msg {
  border-radius: 4px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #E91E63;
  border: 1px solid #E91E63;
  background-color: #FCE4EC;
  background-position: left 8px center;
  background-repeat: no-repeat;
  padding: 8px 8px 8px 34px;
  margin: 0 0 16px 0;
}

.error-msg.error {
  background-image: url('/images/error.svg');
}